.header {
  background-color: #ccc;
  color:  #fff;
  height: 80px;
  line-height: 80px;

  &__content {
    .login {
      font-size: 15px;
      font-weight: 200;
      color: #ccc;

      &__imgUser {
        position: relative;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        background-color: #fff;
        border-radius: 50px;
        margin-top: 12px;
        cursor: pointer;

        img {
          width: 60px;
          height: 60px;
          border-radius: 53px;
        }
        &:hover {
          .login__listchose {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &__listchose {
        position: absolute;

        visibility: hidden;
        opacity: 0;
        transform: translateY(30%);
        transition: all 0.3s ease-in-out;

        left: -45px;
        z-index: 50;
        margin-top: 5px;

        ul {
          border-radius: 15px;
          overflow: hidden;
          background-color: #fff;


          li {
            width: 150px;
            text-align: left;
            padding: 0px 10px;
            transition: all .3s ease-in-out;
            position: relative;

            &:hover {
              background-color: #f1f1f1;
            }

            &:active::after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(#000, 0.2);
            }
          }
          // li {
          //   &:first-child {
          //     border-radius: 8px 8px 0px 0px;
          //   }
          //   &:last-child {
          //     border-radius: 8px 8px 0px 0px;
          //   }
          // }
        }
      }
    }

    .logo {
      font-size: 50px;
      font-weight: 500;
      text-align: center;
    }

    .cart {
      font-size: 20px;
      font-weight: 200;
      text-align: right;

      i {
        font-size: 40px;
        position: relative;
        color: #fe9705;

        span {
          position: absolute;
          background: #fff;
          padding: 2px 7px;
          color: #000;
          font-size: 20px;
          border-radius: 50px;
          top: -20%;
          right: -30%;
        }
      }
    }
  }
}

