.list-slide {
  .slide {
    width: 100%;
    height: 500px;
    .carousel-inner {
      border-radius: 20px;
      img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 500px;
        image-rendering: pixelated;
      }
    }
  }
}

@media only screen and (max-width: 739px) {
  .slide {
    width: 100%;
    height: 300px !important;
    .carousel-inner {
      border-radius: 20px;
      img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 300px !important;
        image-rendering: pixelated;
      }
    }
  }
}
