.group-product {
  width: 100%;
  margin-top: 40px;
  margin-left: 15px;
  .slick-prev:before, .slick-next:before {
    color: #ccc;
    font-size: 30px
  }
  &__title {
    width: 15%;
    background-color: #80bb35;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase
  }
  &__seeMore {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    margin-top: 20px;


    border-bottom: 1px solid #ccc;

    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    cursor: pointer;

    i {
      animation: mymove 2s infinite;
      background-color: none;
    }
    @keyframes mymove {
      from { color: #cae2fa; left: 0px;}
      to {left: 15px;}
    }
  }
}
